In [4]:
print("Work of Rybchynchuk Vladyslav AP-31")
print("Lab 5 Ex2")

import pandas as pd

matrix = pd.read_excel('Лабораторна 5.xlsx', sheet_name='Задача 2',header=None, skiprows=4, usecols='C:E', nrows=3).to_numpy()
print('Матриця ймовірностей')
display(pd.DataFrame(matrix, columns=['B1','B2','B2'], index=['A1','A2','A3']))

Work of Rybchynchuk Vladyslav AP-31
Lab 5 Ex2
Матриця ймовірностей

     B1   B2   B2
A1  0.9  0.4  0.2
A2  0.3  0.6  0.8
A3  0.5  0.7  0.2

In [5]:
payments_matrix = matrix
# count first col
var1 = matrix[0][0]
var2 = matrix[1][0]
var3 = matrix[2][0]
payments_matrix[1][0] = 1 - ((1 - var1)*(1 - var2))
payments_matrix[2][0] = 1 - ((1 - var1)*(1 - var2)*(1 - var3))

# count second col
var1 = matrix[0][1]
var2 = matrix[1][1]
var3 = matrix[2][1]
payments_matrix[1][1] = 1 - ((1 - var1)*(1 - var2))
payments_matrix[2][1] = 1 - ((1 - var1)*(1 - var2)*(1 - var3))

# count third col
var1 = matrix[0][2]
var2 = matrix[1][2]
var3 = matrix[2][2]
payments_matrix[1][2] = 1 - ((1 - var1)*(1 - var2))
payments_matrix[2][2] = 1 - ((1 - var1)*(1 - var2)*(1 - var3))

In [191]:
print('Матриця платежів')
display(pd.DataFrame(payments_matrix, columns=['B1','B2','B2'], index=['A1','A2','A3']))

Матриця платежів

       B1     B2     B2
A1  0.900  0.400  0.200
A2  0.930  0.760  0.840
A3  0.965  0.928  0.872