In [2]:
print("Work of Rybchynchuk Vladyslav AP-31")
print("Lab 5 Ex1")

import pandas as pd
import numpy as np

matrix = pd.read_excel('Лабораторна 5.xlsx', sheet_name='Задача 1',header=None, skiprows=2, usecols='D:G', nrows=4).to_numpy()
display(pd.DataFrame(matrix, columns=['B1','B2','B2','B2'], index=['A1','A2','A3','A4']))

Work of Rybchynchuk Vladyslav AP-31
Lab 5 Ex1

    B1  B2  B2  B2
A1  -1   9   6   8
A2  -2  10   4   6
A3   5   3   0   7
A4   7  -2   8   4

In [4]:
 
minA = [min(row) for row in matrix]
maxB = [max(row[i] for row in matrix) for i in range(len(matrix[0]))]
display(pd.DataFrame(minA, columns=['minA'], index=['A1','A2','A3','A4']))
display(pd.DataFrame(maxB, columns=['maxB'], index=['B1','B2','B3','B4']))

    minA
A1    -1
A2    -2
A3     0
A4    -2

    maxB
B1     7
B2    10
B3     8
B4     8

In [5]:
min_max_B = min(maxB)
max_min_A = max(minA)
print('Нижня ціна гри: A', np.argmax(minA), '-' , max_min_A)
print('Верхня ціна гри: B', np.argmin(maxB), '-' , min_max_B)

if(min_max_B == max_min_A):
    print('Сідлова точка існує')
else:
    print('Сідлової точки не існує')

Нижня ціна гри: A 2 - 0
Верхня ціна гри: B 0 - 7
Сідлової точки не існує